NEXT_PUBLIC_MEDUSA_BACKEND_URL=abcd
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=abcd
NEXT_PUBLIC_MEDUSA_REGION_ID=efgh
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_MEDUSA_STRIPE_PROVIDER_ID=pp_stripe_stripe
